body {
	min-width: 1200px;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	font-family: "PTSans", "Arial", sans-serif;
	background-color: #ffffff;
	text-transform: uppercase;
	
}

h2,
.footer-contacts a {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: "PTSans", "Arial", sans-serif;
	text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.inline {
	display: inline-block;
}

.main-navigation {
    width: 1200px;
    padding-top: 14px;
    padding-bottom: 16px;
     
}

.main-navigation ul {
    list-style: none;
    
}

.main-navigation li {
    font-weight: bold;
    width: 20%;
    line-height: 26px;
    
}

.main-navigation a {
	color: #000000;
	text-decoration: none;
}

.column1 {
	float: left;
	text-align: center;
	

}

.logo {
	float: left;
	padding-left: 51px;
	position: absolute;
	margin-top: -15px;
}

.column2 {
	float: right;
	text-align: center;
}



.hello {
	width: 1200px;
	height: 512px;
    background: #fff url("../img/background.jpg") no-repeat center 20%;
    margin-bottom: 55px;
}



.subject {
    width: 576px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;   
    text-align: center;
       
}

.font-subject {
	line-height: 26px;
	margin-top: 30px;
}

.description {
	width: 1200px;
}

.description-text {
	width: 400px;
	float: left;
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 55px;
	padding-bottom: 54px;
	
}

.description-text h2,
.description-block h2 {
	width: 173px;
	color: #ffffff;
	line-height: 21px;
	padding-bottom: 24px;
	margin-left: auto;
	margin-right: auto;
}

.description-block h2 {
	color: #000000
}

.description-number {
	padding-bottom: 25px;
}

.description-pic {
	width: 800px;
	height: 256px;
	float: left;
}

.description-icons {
    width: 1200px;
   }

.description-background {
	background-color: #eeeeee;
}

.description-block {
	float:left;
	width: 33.334%; 
	text-align: center;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 160px;
    padding-bottom: 82px;
}

.block {
	padding-top: 48px;
	padding-bottom: 60px;
}

.it {
	position: relative;
}

.it::before {
	content: "";
	display: block;
	width: 80px;
	height: 75px;
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -40px;
	background: transparent url("../img/sprite.png") no-repeat;
}

.it1::before {
	background-position: 0 -455px;
}

.it2::before {
	background-position: 0 -542px;
}

.it3::before {
	background-position: 0 -627px;
}

.line-height {
	line-height: 21px;
}

.buy {
	width: 1200px;
	position: relative;

}

.buy-text {
	width: 480px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 24px;
    margin-top: 55px;
    margin-bottom: 48px;
}

.buy-text-h2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}

.buy-search {
	width: 570px;
	background-color: #766357;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #ffffff;
	text-align: center;
    border: 1px solid #766357; 
    font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	font-family: "PTSans", "Arial", sans-serif;
	text-transform: uppercase;
	margin-left: 315px;
}

.buy-order {
	width: 570px;
	position: absolute;
	top: 0;
    left: 26.25%;

}



.buy-form {
  width: 570px;
  background-color: #ffffff; 
  padding-bottom: 55px;
  padding-top: 55px;

}

.buy-date {
    width: 570px;
    padding-bottom: 30px;
    padding-left: 55px;
    position: relative;
    font-size: 0;
    
  }

.date {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PTSans", "Arial", sans-serif; 
}

.date1 {
  width: 345px;
  min-height: 37px;
  padding-left: 10px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.date1:hover {
	background-color: #ebebeb;
	border: 1px solid #ebebeb;
} 

.date1:focus {
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.date2 {
  width: 115px;
  background-color: #ffffff;
  
}

.buy-date::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    left: 85%;
    margin-left: ;
    background: transparent url("../img/sprite.png") no-repeat center;
    background-position: 0 0;
  }

  .buy-date::after:hover {
  	background-position: 0 -37px; /*почему не работает?*/
  }
  
  .buy-numbers {
    width: 570px;
    margin-bottom: 55px;
    padding-left: 55px;
    font-size: 0;
  }
  
 .buy-number {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
 }

 .grid{
  font-size: 0;
  display: inline-block;
 }

.col{
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin: 0 20px;
}

.col_2 {
  width: calc(50% - 40px);
}

.col_3 {
	width: 39px;
	min-height: 39px;
	margin-right: -20px;
	text-align: center;
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

   .date-people {
  	padding-left: 32px;
  }

  .people {
  	padding-bottom: 50px;
  }

  
  .btn-search {
    width: 458px;
    padding-top: 17px;
    padding-bottom: 22px;
    background-color: #81b3d2;
    margin-left: 58px;
    margin-right: 58px;
    border: 1px solid #81b3d2;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PTSans", "Arial", sans-serif;
    text-transform: uppercase;
  }
  
  .btn-search:hover {
    background-color: #669ec0;
    color: #ffffff;
  }
  
  .btn-search:active {
    background-color: #5496bd;
    color: #85b0cd;
  }
  
  .main-footer {
    width: 1200px;
    position: relative;
    margin: 0 auto;
   
  }
  
  .footer {
    width: 1200px;
    position: absolute;
    top: -120px;
    background-color: #ffffff;
    opacity: 0.9;
    padding-top: 35px;
    padding-bottom: 35px;
   
  }
  
  .footer-contacts {
    float: left;
    width: 145px;
    margin-right: 245px;
    margin-left: 130px;
    margin-top: 10px;
  }
  
  .footer-social {
    float: left;
    width: 200px;
    margin-right: 190px;
    text-align: center;
  }
  
  .social-btn {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0 5px;
    vertical-align: top;
    font-size: 0;
    background: url("../img/spritesocial.png") no-repeat;
  }
  
  
  .social-btn-tw {
    background-position: 0 0;
  }

  .social-btn-tw:hover {
    background-position: 0 -189px;
  }

  .social-btn-tw:active {
    background-position: 0 -378px;
  }
  
  .social-btn-fb {
    background-position: 0 -63px;
  }

  .social-btn-fb:hover {
    background-position: 0 -252px;
  }

  .social-btn-fb:active {
    background-position: 0 -441px;
  }
  
  .social-btn-yt {
    background-position: 0 -126px;
  }

  .social-btn-yt:hover {
    background-position: 0 -315px;
  }

  .social-btn-yt:active {
    background-position: 0 -504px;
  }
  
  .footer-copyright {
    float: right;
    width: 280px;
    line-height: 26px;
  }
  
  .copyright-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-family: "PTSans", "Arial", sans-serif;
  }
  
  .btn {
    background: url("../img/sprite.png") no-repeat;
    background-position: 0 -293px;
    display: inline-block;
    width: 120px;
    height: 45px;
    font-size: 0;
    vertical-align: middle;
  }
  
  .btn:hover {
    background: url("../img/sprite.png") no-repeat;
    background-position: 0 -347px;
  }
  
  .btn:active {
    background: url("../img/sprite.png") no-repeat;
    background-position: 0 -401px;
  }
  /*catalog*/
  
  /*.bay-form {
    width: 1200px;
    height: 220px;
    background-image: url(../img/background4.jpg);

  } */
  
  .bay-order-option1 {
    width: 150px;
    float: left;
    padding-left: 73px;
    padding-top: 25px;
  }
  
  .bay-order-option2 {
    width: 328px;
    float: right;
    padding-top: 25px;
  }
  
  .search {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .search-text {
    display: inline-block;
    width: 728px;
    margin-left: 73px;
    margin-right: 280px;
  }
  
  .search-pic {
    display: inline-block;
    width: 35px;
    margin-right: 73px;
  }
  
  .result {
    width: 1056px;
    padding: 30px 73px;
    border-top: 1px solid #000000;
  }
  
  .result:last-child {
    border-bottom: 1px solid #000000;
  }
  
  .result-pic {
    height: 90px;
    width: 135px;
    float: left;
  }
  
  .result-choice {
    width: 260px;
    margin-left: 30px;
    float: left;
  }
  
  .result-rating {
    height: 90px;
    width: 120px;
    float: right;
  }

.map{
  position: relative;
}
.map img{
  width: 100%;
}