body {
	min-width: 1200px;
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	font-weight: normal;
	font-family: "PTSans", "Arial", sans-serif;
	background-color: #ffffff;
	text-transform: uppercase;
	
}

h2,
.footer-contacts a,
.search-text .h2 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: "PTSans", "Arial", sans-serif;
	text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-navigation {
    width: 1200px;
    padding-top: 14px;
    padding-bottom: 16px;
     
}

.main-navigation ul {
    list-style: none;
    
}

.main-navigation li {
    font-weight: bold;
    width: 20%;
    line-height: 26px;
    
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #d5d5d5;
}

.main-navigation a {
	color: #000000;
	text-decoration: none;
}

.column1 {
	float: left;
	text-align: center;
	
}

.logo {
	float: left;
	padding-left: 51px;
	position: absolute;
	margin-top: -15px;
}

.column2 {
	float: right;
	text-align: center;
}


.hello {
	width: 1200px;
	height: 512px;
    background: #9bb6d2 url("../img/background.jpg") no-repeat center 20%;
    margin-bottom: 55px;
}

.subject {
    width: 576px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;   
    text-align: center;
    
}

.font-subject {
	line-height: 26px;
	margin-top: 30px;
}

.description {
	width: 1200px;
}

.description-text {
	width: 400px;
	float: left;
	background-color: #81b3d2;
	color: #ffffff;
	text-align: center;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 55px;
	padding-bottom: 54px;
}

.description-text h2,
.description-block h2 {
	width: 180px;
	color: #ffffff;
	line-height: 21px;
	padding-bottom: 24px;
	margin-left: auto;
	margin-right: auto;
}

.description-block h2 {
	color: #000000
}

.description-number {
	padding-bottom: 25px;
}

.description-pic {
	width: 800px;
	height: 256px;
	float: left;
}

.description-icons {
    width: 1200px;
   }

.description-background {
	background-color: #eeeeee;
}

.description-block {
	float:left;
	width: 33.334%; 
	text-align: center;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 160px;
    padding-bottom: 82px;
}

.block {
	padding-top: 48px;
	padding-bottom: 60px;
}

.it {
	position: relative;
}

.it::before {
	content: "";
	display: block;
	width: 80px;
	height: 75px;
	position: absolute;
	top: 60px;
	left: 50%;
	margin-left: -40px;
	background: transparent url("../img/sprite.png") no-repeat;
}

.it1::before {
	background-position: 0 -455px;
}

.it2::before {
	background-position: 0 -542px;
}

.it3::before {
	background-position: 0 -627px;
}

.line-height {
	line-height: 21px;
}

.buy {
	width: 1200px;
	position: relative;
}

.buy-text {
	width: 480px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 24px;
    margin-top: 55px;
    margin-bottom: 48px;
}

.buy-text-h2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}

.buy-search {
	display: block;
  width: 570px;
  background-color: #766357;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ffffff;
  text-align: center;
  border: 1px solid #766357;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PTSans", "Arial", sans-serif;
  text-transform: uppercase;
  margin-left: 315px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.buy-order {
	width: 570px;
	position: absolute;
	top: 0;
    left: 26.25%;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
}

.buy-order-show {
    display: none;
}

.buy-form {
  width: 570px;
  background-color: #ffffff; 
  padding-bottom: 55px;
  padding-top: 55px;
}

.buy-date {
    width: 570px;
    padding-bottom: 30px;
    padding-left: 55px;
    position: relative;
    font-size: 0;
}

.date {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  font-family: "PTSans", "Arial", sans-serif; 
}

.date1 {
  width: 345px;
  min-height: 37px;
  padding-left: 10px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.date1:hover {
	background-color: #ebebeb;
	border: 1px solid #ebebeb;
} 

.date1:focus {
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.date2 {
  width: 115px;
  background-color: #ffffff;
 }

.buy-date::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 8px;
    left: 85%;
    margin-left: ;
    background: transparent url("../img/sprite.png") no-repeat center;
    background-position: 0 0;
    cursor: pointer;
  }

  .buy-date:hover:after {
  	background-position: 0 -37px; 
  }

  .buy-date:active:after {
  	background-position: 0 -74px; 
  }
  
  .buy-numbers {
    width: 570px;
    margin-bottom: 55px;
    padding-left: 55px;
    font-size: 0;
 }
  
 .buy-number {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
}

 .grid{
  font-size: 0;
}

.col{
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.col_2 {
  width: 50%;
}

.col_3 {
	width: 33.333333%;
	
}

 .date-people {
  	padding-left: 32px;
}

 .people {
  	padding: 0 55px 50px;
}

.people-text{
  display: inline-block;
  vertical-align: middle;
  width: 115px;
  font-weight: bold;
}

.people-side .grid{
  display: inline-block;
  vertical-align: middle;
}

.center {
  padding-left: 48px;
}

.form-item{
  width: 37px;
  min-height: 37px;
  text-align: center;
  background: #f2f2f2;
  color: #868686;
  font-weight: bold;
 }

.form-item-amount{
  color: #000000;
  padding-top: 10px;
}

.form-item-number {
  cursor: pointer;
  font-size: 21px;
  line-height: 21px;
  color: #a9a9a9;
  padding-top: 7px;  
  }

.form-item-number:hover {
  color: #000000; 	
}

.form-item-number:active {
  color: #81b3d2;
}

  
.btn-search {
    width: 458px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #81b3d2;
    margin-left: 58px;
    margin-right: 58px;
    border: 1px solid #81b3d2;
    color: #ffffff;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    font-family: "PTSans", "Arial", sans-serif;
    text-transform: uppercase;
}
  
.btn-search:hover {
    background-color: #669ec0;
    color: #ffffff;
}
  
.btn-search:active {
    background-color: #5496bd;
    color: #85b0cd;
}

.map{
  position: relative;
}

iframe {
	border: none;
}

.main-footer {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}
  
.footer-index {
    width: 1200px;
    position: absolute;
    top: -120px;
    background-color: #ffffff;
    opacity: 0.9;
    padding-top: 35px;
    padding-bottom: 35px;
}

.footer-contacts {
    float: left;
    width: 400px;
    text-align: center;
    margin-top: 10px;
}
  
.footer-social {
    float: left;
    width: 400px;
    text-align: center;
}
  
.social-btn {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 0 5px;
    vertical-align: top;
    font-size: 0;
    background: url("../img/spritesocial.png") no-repeat;
}
    
.social-btn-tw {
    background-position: 0 0;
}

.social-btn-tw:hover {
    background-position: 0 -189px;
}

.social-btn-tw:active {
    background-position: 0 -378px;
}
  
.social-btn-fb {
    background-position: 0 -63px;
}

.social-btn-fb:hover {
    background-position: 0 -252px;
}

.social-btn-fb:active {
    background-position: 0 -441px;
}
  
.social-btn-yt {
    background-position: 0 -126px;
}

.social-btn-yt:hover {
    background-position: 0 -315px;
}

.social-btn-yt:active {
    background-position: 0 -504px;
}
  
.footer-copyright {
    float: right;
    width: 400px;
    line-height: 26px;
    text-align: center;
}
  
.copyright-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	font-family: "PTSans", "Arial", sans-serif;
}
  
.btn-copyright {
    background: url("../img/sprite.png") no-repeat;
    background-position: 0 -293px;
    display: inline-block;
    width: 120px;
    height: 45px;
    font-size: 0;
    vertical-align: middle;
}
  
.btn-copyright:hover {
    background: url("../img/sprite.png") no-repeat;
    background-position: 0 -347px;
}
  
.btn-copyright:active {
    background: url("../img/sprite.png") no-repeat;
    background-position: 0 -401px;
}
 
/*catalog*/
  
  .bay-form {
    width: 1200px;
    min-height: 220px;
    background: #bababa url(../img/background4.jpg);
    color: #ffffff;
    font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	font-family: "PTSans", "Arial", sans-serif;
	text-transform: uppercase;
  } 


  .h3 {
  	font-size: 16px;
	font-weight: bold; 
 }
  
 .bay-order-option1 {
  width: 255px;
  float: left;
  padding-left: 73px;
  padding-top: 30px;
}

.bay-order-option1 label {
  display: block;
  margin-top: 25px;
}

.checkbox {
    display: none;
}
 
.checkbox-custom {
    position: relative;      
    width: 21px;             
    height: 21px;            
    border: 2px solid #ffffff;
    border-radius: 5px;
}
 

.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.label {
padding-left:10px;
}
 

.checkbox:checked + .checkbox-custom::before {
  content: "";             
  display: block;         
  position: absolute;      
  width: 25px;             
  height: 25px; 
  top: -3px;
  left: -1px;
  background: url("../img/spritegal.png") no-repeat;
  background-position: 0 0;
}
  
.filter-range {
    width: 320px;
    float: right;
    padding-top: 30px;
    margin-right: 70px;
}

.filter-range-title {
    padding-bottom: 12px;
}

.price-controls {
  width: 320px;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  vertical-align: middle;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 158px;
  padding-left: 55px;
}

.price-controls input {
  width: 50px;
  color: #ffffff;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  width: 320px;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
  
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;                      
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  box-sizing: content-box;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.btn-transparent {
  width: 140px;
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

 .search-text {
      float: left;
      margin-left: 73px;
      padding-top: 28px;
      padding-bottom: 28px;
}

.search-text span,
.search-text a {
    font-size: 12px;
	line-height: 18px;
	font-weight: normal;
    margin-right: 30px;
}

.search-text a {
    text-decoration: none;
    border-bottom: 1px dotted #81b3d2;
    color: #cacaca;
}

.search-text a:hover {
    color: #81b3d2;
}

.search-text a:active {
    color: #000000;
    border: none;
}

.search-text .active {
    color: #95bed8;
}
  
.search-pic {
      float: right;
      margin-right: 73px;
      padding-top: 30px;
      padding-bottom: 30px;
}

.tringle1 {
  position: relative;
  left: -5px;
  display: inline-block;
  vertical-align: middle;
  border: 6px solid transparent;
  border-bottom: 10px solid #cccccc;
}

.tringle2 {
  position: relative;
  top: 5px;
  left: ;
  display: inline-block;
  vertical-align: top;
  border: 6px solid transparent;
  border-top: 10px solid #81b3d2;
}

.results {
  margin-bottom: 35px;
}

.result {
  width: 1200px;
  padding: 30px 73px;
  border-top: 1px solid #e5e5e5;
}

.result:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.result-pic {
  height: 90px;
  width: 135px;
  float: left;
}

.result-choice {
  width: 360px;
  margin-left: 30px;
  float: left;
}

.result-choice h2:hover {
  color: #81b3d2;
}

.result-choice h2:active {
  color: #dadada;
}

.result-choice p {
  margin-top: 5px;
  margin-bottom: 25px;
}

.result-rating {
  width: 112px;
  float: right;
  max-height: 95px;
  text-align: right;
}

.result-choice .btn {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 15px;
  font-weight: bold;
}

.btn-info {
  background-color: #81b3d2;
  border: 1px solid #81b3d2;
}

.btn-info:hover {
  background-color: #669ec0;
  border: 1px solid #669ec0;
}

.btn-info:active {
  background-color: #5496bd;
  border: 1px solid #5496bd;
  color: #85b0cd;
}

.btn-booking {
  background-color: #766357;
  border: 1px solid #766357;
}

.btn-booking:hover {
  background-color: #604e43;
  border: 1px solid #604e43;
}

.btn-booking:active {
  background-color: #503e33;
  border: 1px solid #503e33;
  color: #928a85;
}

.starts {
  margin-bottom: 45px;
  width: 100%;
  font-size: 20px;
  color: #81b3d2;
}

.rating {
  width: 112px;
  background-color: #f2f2f2;
  padding: 5px 10px;
}

.footer-catalog {
    width: 1200px;
    padding-bottom: 35px;
}
